[submodule "Sprint17_Interconnect_Churn"]
    path = Sprint17_Interconnect_Churn
    url = https://github.com/Script-Whiz/Sprint17_Interconnect_Churn.git

[submodule "Sprint15_CNN_agePrediction"]
    path = Sprint15_CNN_agePrediction
    url = https://github.com/Script-Whiz/Sprint15_CNN_agePrediction.git

[submodule "Sprint14_Chapter2_TextVectorization"]
    path = Sprint14_Chapter2_TextVectorization
    url = https://github.com/Script-Whiz/Sprint14_Chapter2_TextVectorization.git

[submodule "Sprint13_SweetTaxi_timeSeries"]
	path = Sprint13_SweetTaxi_timeSeries
	url = https://github.com/Script-Whiz/Sprint13_SweetTaxi_timeSeries.git

[submodule "Sprint12_RustyCar_GradBoost"]
	path = Sprint12_RustyCar_GradBoost
	url = https://github.com/Script-Whiz/Sprint12_RustyCar_GradBoost.git

[submodule "Sprint11_Ins_US_matrix"]
	path = Sprint11_Ins_US_matrix
	url = https://github.com/Script-Whiz/Sprint11_Ins_US_matrix.git

[submodule "Sprint10_Gold_Recovery"]
	path = Sprint10_Gold_Recovery
	url = https://github.com/Script-Whiz/Sprint10_Gold_Recovery.git

[submodule "Sprint9_OG_Mining_MLB"]
	path = Sprint9_OG_Mining_MLB
	url = https://github.com/Script-Whiz/Sprint9_OG_Mining_MLB.git

[submodule "Sprint8_Churn_Beta"]
	path = Sprint8_Churn_Beta
	url = https://github.com/Script-Whiz/Sprint8_Churn_Beta.git

[submodule "Sprint7_Intro_MachineLearning"]
    path = Sprint7_Intro_MachineLearning
    url = https://github.com/Script-Whiz/Sprint7_Intro_MachineLearning.git

[submodule "Sprint6_Zuber_rides_time"]
    path = Sprint6_Zuber_rides_time
    url = https://github.com/Script-Whiz/Sprint6_Zuber_rides_time.git

[submodule "Sprint5_VideoGames_imputation"]
    path = Sprint5_VideoGames_imputation
    url = https://github.com/Script-Whiz/Sprint5_VideoGames_imputation.git

[submodule "Sprint4_Auto_Comparison"]
    path = Sprint4_Auto_Comparison
    url = https://github.com/Script-Whiz/Sprint4_Auto_Comparison.git

[submodule "Sprint3_MegalinePhone_revenue"]
	path = Sprint3_MegalinePhone_revenue
	url = https://github.com/Script-Whiz/Sprint3_MegalinePhone_revenue.git

[submodule "Sprint2_Instacart_EDA"]
	path = Sprint2_Instacart_EDA
	url = https://github.com/Script-Whiz/Sprint2_Instacart_EDA.git

[submodule "Sprint1_DataCleaning"]
	path = Sprint1_DataCleaning
	url = https://github.com/Script-Whiz/Sprint1_DataCleaning.git
